<div class="container mt-3">
  <div class="row justify-content-center">
    <div class="col-lg-6 col-12 mb-3">
      <h1 class="text-center">Angular CodeMirror</h1>

      <div class="ngx-codemirror mb-2">
        <ngx-codemirror
          [options]="options"
          [ngModel]="defaults[mode]"
          [disabled]="readOnly"
          [autoFocus]="true"
          (ngModelChange)="handleChange($event)"
        ></ngx-codemirror>
      </div>

      <form class="form-inline">
        <select class="form-control mr-1 mb-1" name="state" [(ngModel)]="mode" (ngModelChange)="changeMode()">
          <option value="markdown">Markdown</option>
          <option value="text/typescript">TypeScript</option>
        </select>

        <div class="btn-group-toggle mb-1 mr-1">
          <label class="btn btn-light" [class.active]="readOnly">
            <input type="checkbox" [(ngModel)]="readOnly" name="readOnly" autocomplete="off">
            Toggle read-only mode (currently {{ readOnly ? 'on' : 'off' }})
          </label>
        </div>
        <div class="btn-group-toggle mb-1 mr-1">
          <button class="btn btn-light" (click)="clear()">Clear</button>
        </div>

      </form>

    </div>
  </div>
</div>


<app-footer></app-footer>
